body {
    background: #fcfcfc ;
    font-family: 'JetBrains Mono';
}

#profile-photo {
    border: 2px solid rgb(43, 176, 185);
    border-radius: 50%;
    margin-left: 13px;
}

#title, .subtitle {
    color: rgb(153, 20, 71);
    margin: 10px 15px ;
    text-transform: uppercase;
}

.post {
    background: #fff;   /* Cor de fundo da área do elemento */
    padding: 15px;  /* Área de preenchimento entre a borda e o conteúdo */
    border: 1.5px solid rgb(5, 41, 75); /* Espessura, estilo e cor da borda */
    border-radius: 5px;
    margin: 0px 0px 15px 0px;    /* Espaçamento entre os elementos à sua volta. Neste caso tamanho/distância ↑, →, ↓ e ←. */
    color: rgb(255, 0, 0);    /* Cor do conteúdo da classe(caractéres) */
}

/* O post title por ser uma classe do h3 que está contido dentro do article, leva prioridade na estilização CSS.*/
.post_title {           
    margin: 0 0 15px 0; 
    font-size: 16px;    /* Tamanho da fonte do conteúdo da classe(caractéres) */
    font-style: italic; /* Formatação de fonte do conteúdo da classe(caractéres) */
}

.html-img {
    border-radius: 5px;
}

#second-P {
    margin-bottom: 0px;
}

footer {
    font-style: italic;
}