// Declaração de variáveis p/ Estilização (SCSS)
$corVermelha: #e50914;
$corPreta: #141414;
$corBranca: #FFFFFF;
$fonteMenu: Helvetica, sans-serif;
$fonteDesc:  'Special Elite', cursive;

// Define a padronização do estilo geral da página "resetado". 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Limita a resolução dos elementos conforme o tamanho de borda da caixa.
}

body {

    .header-menu {
        
        .container {
            background:$corPreta;
            height: 69px;
            
            display: flex;
            justify-content: left;          // Justifica o(s) conteúdo(s) no eixo X(horizontal).
            align-items: center;            // Alinha o(s) item(s) no eixo Y(vertical).

            .netflix-logo {
                margin: 0 43px 0 60px;   
                width: 95px;
            }

            > a {   // Estilização exclusiva das tags âncoras dentro da tag nav.
                font-family: $fonteDesc;
                font-size: 14px;
                color: $corBranca;
                margin: 0 8.5px 0;  // Define o comprimento da margem, criando espaçamento entre as âncoras.
                text-decoration: none;  // Neste caso remove a decoração sublinhada da âncora. (Define decoração de texto)
                
                &:hover {       // Aplica um filtro de redução do brilho quando o cursor passa em cima do botão 'Jogar agora'.
                    filter: brightness(0.7);
                }
            }
        }
    }

    main {

        .main-movie {
            background: url('../img/the-witcher-3-wallpaper-1080p.svg');      // Define o preenchimento do background com uma imagem.
            background-size: cover;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content:center;
            // border: 1px solid $corVermelha;

            .container {  
                margin-left: 57px;
                margin-top: 20.5px;
                margin-bottom: 20.5px;
                // border: 1px solid $corVermelha;

                .title-logo {
                    height: 30vh;
                    margin-top: 15px;
                    // border: 1px solid $corVermelha;
                }

                .description {
                    font: 20px $fonteDesc;
                    color: $corBranca;
                    width: 50%; 
                    margin: 0 0 20px;
                    // border: 1px solid $corVermelha;
                }

                > div {

                    > button {
                        font: 16px $fonteDesc;
                        font-weight: bolder;
                        padding: 15px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;               // Transforma o cursor do mouse em 'point' toda vez que passar por cima dos botões. 
                        transition: 0.25s ease all;    // Aplica um delay de transição ('ida e volta') entre as propriedades naturais e estilizadas dos botões. 
                       
                        a {
                            text-decoration: none;
                        }
                        i {
                            margin-right: 12px;
                        }
                    }

                    .play-watch{
                        margin-right: 5px;
                        &:hover {       // Aplica um filtro de redução do brilho quando o cursor passa em cima do botão 'Jogar agora'.
                            filter: brightness(0.7);
                        }
                        .anchor-play {
                            color: $corPreta;
                        }
                    }

                    .more-info {
                        color: white ;
                        background: rgba(#4D4D4D, 0.5);
                        margin-bottom: 10px;
                        &:hover {       // Aplica um filtro de redução do brilho quando o cursor passa em cima do botão 'Mais informações'.
                            filter: brightness(0.7);
                        }
                        .anchor-info {
                            color: $corBranca;
                        }
                    }
                }
            }
        }
    }
    
    .carrossel-jogos {
        background:$corPreta;

        #Jogos {
            font: 32px $fonteDesc;
            color: $corBranca;
        }
        .owl-carousel {
            
            .item {

                .telajogo {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }
}