// Declaração de variáveis p/ Estilização (SCSS)
$corVermelha: #e50914;
$corPreta: #141414;
$corBranca: #FFFFFF;
$fonteMenu: Helvetica, sans-serif;

// Define a padronização do estilo geral da página "resetado". 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Limita a resolução dos elementos conforme o tamanho de borda da caixa.
}

body {

    .header-menu {
        
        .navigation {
            display: flex;
            justify-content: left;          // Justifica o(s) conteúdo(s) no eixo X(horizontal).
            align-items: center;            // Alinha o(s) item(s) no eixo Y(vertical).
            background:$corPreta;
            height: 69px;
            
            .netflix-logo {
                margin: 0 43px 0 60px;   
                width: 95px;
            }

            > a {   // Estilização exclusiva das tags âncoras dentro da tag nav.
                font-family: $fonteMenu;
                font-size: 14px;
                color: $corBranca;
                margin: 0 8.5px 0;  // Define o comprimento da margem, criando espaçamento entre as âncoras.
                text-decoration: none;  // Neste caso remove a decoração sublinhada da âncora. (Define decoração de texto)
            }
        }
    }

    main {

        .main-movie {
            border: 1px solid $corVermelha;
            background: url('../img/The\ Witcher\ 3\ Wild\ Hunt\ Papel\ de\ Parede\ HD\ Plano\ de\ Fundo\ 1920x1080.jpeg');
            background-size: cover;
            height: 735px;
            display: flex;
            flex-direction: column;
            justify-content:center;      

            .navigation {
                

                .title {
                    font: $fonteMenu;
                    color: $corBranca;
                    
                }

                .description {
                    font: $fonteMenu;
                    color: $corBranca;
                }

            }

        }
    }
}